main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;    
}

.main-container {
    padding: 20px 35px;    
}

.main-title {
    display: flex;
    align-items: center;
}

.main-title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main-greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main-greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px rgba(255, 255, 255);
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > span {
    font-size: 25px;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 0px;
}

.charts-left {
    padding: 25px;
    border-radius: 5px;
    background:rgb(255, 255, 255);
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px rgba(255, 255, 255);
}

.charts-left-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts-left-title > title > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts-left-title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad
}

.charts-left-title > i {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: #ffc100;
    border: 0 solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 200px 0 200px 200px;
    -moz-border-radius: 200px 0 200px 200px;
    -webkit-border-radius: 200px 0 200px 200px;
}

.charts-right {
    padding: 25px;
    border-radius: 5px;
    background:rgb(255, 255, 255);
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px rgba(255, 255, 255);    
}

.charts-right-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts-right-title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts-right-title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.charts-right-title > i {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: #39447a;
    padding: 15px;
    border: 0 solid rgb(0, 0, 0);
    border-radius: 200px 0 200px 200px;    
}

.charts-right-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.card1, .card2, .card3, .card4 {
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card1 {
    background: #d1ecf1;
    color: #35a4ba;    
}

.card2 {
    background: #b3f7cd;
    color: #38e1b0;
}

.card3 {
    background: #d6d8d9;
    color: #3a3e41;
}

.card4 {
    background: #fddcdf;
    color: #f65a6f;
}

@media only screen and (max-width: 855px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
        justify-content: center;
    }
    .charts-right-cards {
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
        justify-content: center;
    }
    .charts-right-cards {
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 30px;
    }
}